/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/
/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
 @import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
 @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/
/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/
 @import url(animate.min.css);
 @import url(normalize.css);
 @import url(meanmenu.css);
 @import url(owl.carousel.min.css);
 @import url(slick.css);
 @import url(jquery-ui.css);
 @import url(nice-select.css);
/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/
 * {
     box-sizing: border-box !important;
}
 html {
     scroll-behavior: smooth;
}
 body {
     color: #666666;
     font-size: 14px;
     font-family: 'poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
}
 a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
 h1, h2, h3, h4, h5, h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0 
}
 h1 {
     font-size: 24px 
}
 h2 {
     font-size: 22px 
}
 h3 {
     font-size: 18px 
}
 h4 {
     font-size: 16px 
}
 h5 {
     font-size: 14px 
}
 h6 {
     font-size: 13px 
}
 *, *::after, *::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
 h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1 
}
 button:focus {
     outline: none;
}
 ul, li, ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}
 p {
     margin: 0px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}
 a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}
 a, .btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
 img {
     max-width: 100%;
     height: auto;
}
 :focus {
     outline: 0;
}
 .btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}
 .lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}
 .form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}
 .navbar-form input {
     border: none !important;
}
 .badge {
     font-weight: 500;
}
 blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}
 button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}
 .full {
     float: left;
     width: 100%;
}
 .layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}
 .layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}
 .light_silver {
     background: #f9f9f9;
}
 .theme_bg {
     background: #38c8a8;
}
 .margin_top_30 {
     margin-top: 30px !important;
}
 .full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}
/**-- heading section --**/
 .main_heading {
     text-align: center;
     display: flex;
     justify-content: center;
     position: relative;
     margin-bottom: 50px;
}
 .main_heading h2 {
     padding: 0;
     font-size: 48px;
     line-height: 60px;
     font-weight: 400;
     position: relative;
     letter-spacing: -0.5px;
     color: #114c7d;
     border-left: solid #38c8a8 10px;
     padding-left: 15px;
}
 .main_heading h2 strong {
     background: #38c8a8;
     color: #fff;
     font-weight: 600;
     padding: 0 15px;
     line-height: 68px;
}
 .white_heading_main h2 {
     color: #fff;
}
 .small_main_heading {
     margin-top: 25px;
     float: left;
     width: 100%;
     border-bottom: solid rgba(0, 0, 0, 0.07) 1px;
     margin-bottom: 25px;
}
 .small_main_heading h2 {
     padding: 2px 0 20px 0;
     color: #114c7d;
     font-weight: 400;
     font-size: 28px;
     background-image: url('../images/fevicon.png');
     background-repeat: no-repeat;
     padding-left: 55px;
     letter-spacing: -0.5px;
}
 .small_main_heading h2 strong {
     color: #38c8a8;
     font-weight: 600;
}
 .main_bt {
     background: #000;
     color: #fff;
     padding: 10px 60px 10px 60px;
     float: left;
     font-size: 15px;
     font-weight: 400;
     border: solid #000 5px;
     border-radius: 0;
     margin-right: 30px;
}
 a.readmore_bt {
     color: #fff;
     font-weight: 300;
     text-decoration: underline !important;
}
 .main_bt:hover, .main_bt:focus {
     background: #ad2101;
     border: solid #ad2101 5px;
     color: #fff;
}
/**-- list icon --**/
 .ul_list_info_icon ul {
     list-style: none;
}
 .ul_list_info_icon ul li {
     display: inline;
     float: left;
     width: 100%;
}
 .ul_list_info_icon ul li img {
     width: 75px;
}
/*---------------------------- preloader area ----------------------------*/
 .loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}
 .loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}
 .loader img {
     width: 280px;
}
/*---------------------------- scroll to top area ----------------------------*/
 .scrollup {
     float: right;
     position: absolute;
     color: #fff;
     right: 20px;
     padding: 0px 5px;
     text-transform: uppercase;
     font-weight: 600;
     background: #38c8a8;
     position: fixed;
     bottom: 20px;
     z-index: 99;
     text-align: center;
     color: #fff;
     cursor: pointer;
     border-radius: 0px;
     opacity: 0;
     backface-visibility: hidden;
     -webkit-backface-visibility: hidden;
     transform: scale(1);
     -moz-transform: scale(1);
     -o-transform: scale(1);
     -webkit-transform: scale(1);
     transition: .2s all ease;
     -moz-transition: .2s all ease;
     -o-transition: .2s all ease;
     -webkit-transition: .2s all ease;
     width: 50px;
     height: 50px;
     border-radius: 100%;
     line-height: 48px;
     font-size: 16px;
}
 .scrollup.b-show_scrollBut {
     opacity: 1;
     visibility: visible;
}
 .top_awro {
     background: #ee4a79 none repeat scroll 0 0;
     cursor: pointer;
     padding: 6px 8px;
     position: fixed;
     bottom: 59px;
     right: 20px;
     display: none;
     height: 45px;
     width: 45px;
     border-radius: 50%;
     text-align: center;
     line-height: 30px;
     transition: all 0.5s ease;
}
 .sale_pro {
     background: #f25252 !important;
}
 .margin_top_50 {
     margin-top: 50px;
}
 .margin_bottom_30_all {
     margin-bottom: 30px;
}
 .text_align_center {
     text-align: center;
}
/*--------------------------------------------------------------------- header area ---------------------------------------------------------------------*/
 .logo_section {
     text-align: center;
}
 .logo {
     float: left;
}
 nav.main-menu {
     float: right;
     margin-left: 0;
}
 .menu-area-main li:hover a, .menu-area-main li:focus a {
     color: #fff;
}
 .menu-area-main li.active a {
     color: #fff;
     background: #000;
     box-shadow: #9d9d9d66 0px 0px 56px 26px;
}
 .right_cart_section {
     float: right;
     width: auto;
}
 .right_cart_section ul {
     float: left;
     min-height: auto;
     margin: 0;
     padding: 12px 0 0;
}
 .right_cart_section .cart_icons {
     padding: 18px 0 0;
}
 .main-menu ul>li nth:child(5) a {
     padding-right: 0px;
}
 .right_cart_section ul li {
     float: left;
     font-size: 17px;
     font-weight: 400;
     color: #fff;
     margin-right: 30px;
}
 .right_cart_section ul.cart_update li {
     font-size: 13px;
     color: #ccc;
     line-height: normal;
     margin: 0;
     font-weight: 300;
}
 .right_cart_section ul.cart_update li span {
     font-size: 18px;
     font-weight: 300;
     color: #fff;
     line-height: 21px;
}
 .right_cart_section ul li i {
     margin-right: 10px;
     margin-top: 5px;
     float: left;
     color: #fff;
     font-size: 21px;
}
 .right_cart_section ul li a {
     color: #fff;
}
/*-- end header middle --*/
 .top-bar-info {
     background: #111111;
     padding: 5px 0px;
}
 .top-menu-left {
     float: left;
}
 .top-menu-left li {
     position: relative;
     display: inline-block;
     margin-right: 11px;
     padding-right: 12px;
}
 .top-menu-left li::before {
     content: '';
     position: absolute;
     right: 0;
     top: 9px;
     height: 10px;
     border-right: 1px dotted #999;
}
 .top-menu-left li:last-child::before {
     display: none;
}
 .top-menu-left li:last-child {
     padding: 0px;
     margin: 0px;
}
 .top-menu-left li a {
     color: #ffffff;
     font-size: 12px;
     text-transform: uppercase;
     text-decoration: none;
}
 .top-menu-left li a:hover {
     color: #38c8a8;
}
 .right-dropdown-language {
     float: right;
     margin-left: 12px;
}
 .dropdown-bar .dropdown-link {
     position: absolute;
     z-index: 1009;
     top: 40px;
     left: 0;
     right: auto;
     min-width: 50px;
     padding: 15px;
     background: #ffffff;
     list-style: none;
     border: 2px solid #38c8a8;
     opacity: 0;
     visibility: hidden;
     -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     -webkit-transition: opacity 0.2s ease 0s, visibility 0.2s linear 0s;
     -o-transition: opacity 0.2s ease 0s, visibility 0.2s linear 0s;
     transition: opacity 0.2s ease 0s, visibility 0.2s linear 0s;
     text-align: left;
}
 .dropdown-bar:hover .dropdown-link {
     opacity: 1;
     visibility: visible;
     top: 25px;
}
 .dropdown-bar.right-dropdown-language>a::after {
     font-family: 'FontAwesome';
     content: "\f107";
     text-decoration: none;
     padding-left: 4px;
     color: #ffffff;
}
 .right-dropdown-language>a {
     line-height: 10px;
     padding: 5px 5px;
     cursor: pointer;
}
 .dropdown-bar .dropdown-link li a {
     color: #111111;
     display: block;
     font-size: 12px;
     line-height: 15px;
     padding: 5px 0;
}
 .dropdown-bar .dropdown-link li a:hover {
     color: #38c8a8;
}
 .dropdown-bar .dropdown-link li a img {
     margin-right: 7px;
}
 .dropdown-bar .dropdown-link li.active {
     font-weight: bold;
}
 .right-dropdown-language .dropdown-link {
     min-width: 100px;
     padding: 7px 10px;
     color: #111111;
}
 .dropdown-bar {
     position: relative;
     padding: 0 5px;
     font-size: 13px;
}
 .dropdown-bar .dropdown-link.right-sd {
     left: auto;
     right: 0;
}
 .right-dropdown-currency {
     float: right;
     margin-left: 12px;
}
 .dropdown-bar.right-dropdown-currency>a::after {
     font-family: 'FontAwesome';
     content: "\f107";
     text-decoration: none;
     padding-left: 4px;
     color: #ffffff;
}
 .right-dropdown-currency>a {
     line-height: 10px;
     padding: 5px 5px;
     cursor: pointer;
     color: #ffffff;
}
 .right-dropdown-currency .dropdown-link {
     min-width: 100px;
     padding: 7px 10px;
     color: #111111;
}
 .right-dropdown-currency .dropdown-link {
     min-width: 55px;
     padding: 7px 10px;
}
 .right-dropdown-currency .dropdown-link li a span.symbol {
     margin-right: 7px;
}
 #login-modal .modal-content {
     border-radius: 0px;
}
 #login-modal .modal-content .modal-header {
     background: #38c8a8;
     border-radius: 0;
}
 #login-modal .modal-content .modal-body .form-group input {
     background: #ffffff;
     border: 1px solid #c8c8c8;
     border-radius: 0px;
}
 #login-modal .modal-content .modal-body .form-group input:focus {
     border: 1px solid #c8c8c8 !important;
}
 #login-modal .modal-content form {
     margin-bottom: 10px;
}
 .modal-title {
     padding: 0px;
     color: #ffffff;
     font-size: 18px;
     text-transform: uppercase;
}
 .btn-template-outlined {
     background: #111111;
     color: #ffffff;
     border: none;
     border-radius: 0px;
}
 .btn-template-outlined i {
     padding-right: 10px;
}
 .text-muted {
     padding: 10px 0px;
}
 .slogan-line {
     float: right;
     color: #ffffff;
     font-size: 13px;
}
 .middle-area {
     padding: 30px 0px;
}
 .header-search {
     padding: 3px 0px;
}
 .header-search form {
     position: relative;
     -webkit-box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.2);
     box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.2);
}
 .header-search .btn-group.bootstrap-select {
     position: absolute;
     left: 0px;
     top: 0px;
}
 .header-search input {
     width: 100%;
     min-height: 45px;
     border-radius: 0px;
     border: none;
     padding-left: 15px;
     border: 1px solid #e0e7ed;
}
 .header-search form .search-btn {
     position: absolute;
     right: 0;
     top: 0;
     border: 0;
     color: #fff;
     font-size: 20px;
     padding: 4px 15px;
     border-radius: 0px;
     background-color: #38c8a8;
     cursor: pointer;
}
 .header-search form .search-btn:hover {
     background: #111111;
}
 .cart-box {
     float: right;
     margin-left: 10px;
     position: relative;
}
 .cart-content-box {
     position: absolute;
     z-index: 1009;
     top: 40px;
     left: auto;
     right: 0;
     min-width: 250px;
     max-width: 250px;
     padding: 15px;
     background: #ffffff;
     list-style: none;
     border: 2px solid #38c8a8;
     opacity: 0;
     visibility: hidden;
     -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     text-align: left;
     -webkit-transform: scaleY(0);
     transform: scaleY(0);
     -webkit-transform-origin: 0 0 0;
     transform-origin: 0 0 0;
     -webkit-transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
}
 .cart-box:hover .cart-content-box {
     opacity: 1;
     visibility: visible;
     top: 100%;
     -webkit-transform: scaleY(1);
     transform: scaleY(1);
}
 .inner-cart {
     background: #38c8a8;
     border-radius: 2px;
     padding: 0px;
     color: #ffffff;
     position: relative;
     width: 40px;
     height: 40px;
     text-align: center;
}
 .cart-box .inner-cart:hover {
     color: #ffffff;
}
 .line-cart {
     float: left;
     line-height: 40px;
     margin-right: 9px;
}
 .cart-box a {
     display: inline-block;
}
 .cart-box a:hover {
     color: #38c8a8;
}
 .cart-box a span.icon {
     background: #38c8a8;
     width: 30px;
     height: 40px;
     display: inline-block;
     line-height: 40px;
     text-align: center;
     color: #ffffff;
     position: relative;
     border-radius: 2px;
}
 .cart-box a .p-up {
     position: absolute;
     right: -8px;
     top: -8px;
     line-height: initial;
     background: #38c8a8;
     padding: 3px;
     border-radius: 50%;
     width: 17px;
     height: 17px;
     font-size: 12px;
     text-align: center;
     line-height: 10px;
}
 .wish-box {
     float: right;
}
 .wish-box a {
     display: inline-block;
}
 .wish-box a:hover {
     color: #38c8a8;
}
 .wish-box a span.icon {
     background: #38c8a8;
     width: 40px;
     height: 40px;
     display: inline-block;
     line-height: 40px;
     text-align: center;
     color: #ffffff;
     position: relative;
     border-radius: 2px;
}
 .wish-box a span.icon:hover {
     background: #111111;
}
 .cart-content-right {
     padding: 5px 0px;
}
 .cart-content-box .items {
     text-align: center;
}
 .product-media {
     width: 60px;
     float: left;
     position: relative;
}
 .cart-content-box .items:hover .product-media::before {
     transform: scale(1);
     -webkit-transform: scale(1);
     -moz-transform: scale(1);
     -ms-transform: scale(1);
     -o-transform: scale(1);
}
 .product-media::before {
     position: absolute;
     content: '';
     z-index: 2;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #38c8a8;
     opacity: 0.4;
     transform: scale(0);
     -webkit-transform: scale(0);
     -moz-transform: scale(0);
     -ms-transform: scale(0);
     -o-transform: scale(0);
     transition: all 0.5s ease;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
}
 .cart-content-box .items .item .remove {
     position: absolute;
     right: 0px;
     top: 0px;
     background: #38c8a8;
     color: #ffffff;
     width: 20px;
     height: 20px;
     line-height: 18px;
     border-radius: 2px;
}
 .cart-content-box .items .item {
     margin-bottom: 10px;
     padding-bottom: 10px;
     border-bottom: 1px solid #e0e7ed;
     position: relative;
}
 .cart-content-box .items .item .product-info {
     padding-top: 10px;
     padding-left: 71px;
     text-align: left;
}
 .cart-content-box .items .item .remove:hover {
     background: #111111;
}
 .subtotal {
     text-align: left;
     text-transform: capitalize;
     color: #38c8a8;
     font-weight: 500;
     margin-bottom: 15px;
}
 .subtotal span {
     font-weight: bold;
     color: #111111;
     padding-left: 15px;
     float: right;
}
 .actions .btn-process {
     padding: 5px 16px;
     color: #ffffff;
     font-family: 'Roboto', sans-serif;
     font-size: 14px;
     border-radius: 2px;
     overflow: hidden;
}
 .actions .btn-process:hover {
     color: #ffffff;
}
 .line-cart {
     position: relative;
}
 .wish-box a span.icon span {
     position: absolute;
     right: -8px;
     top: -8px;
     line-height: initial;
     background: #38c8a8;
     padding: 3px;
     border-radius: 50%;
     width: 17px;
     height: 17px;
     font-size: 12px;
}
 .main-menu {
     text-align: center;
}
 .main-menu ul {
     margin: 0;
     list-style-type: none;
     margin-top: 12px;
}
 .main-menu ul>li {
     display: inline-block;
     position: relative;
}
 .main-menu ul>li a {
     padding: 7px 10px 7px 10px;
     line-height: 20px;
     font-size: 16px;
     display: block;
     font-weight: 500;
     color: #555454;
     text-transform: uppercase;
     margin: 0px 15px;
}
 .main-menu ul li:last-child a {
     padding-right: 0;
}
 .sub-down li {
     background: #ffffff;
}
 .main-menu ul>li .sub-down li a {
     color: #114c7d;
     font-size: 15px;
     text-transform: capitalize;
     font-weight: 300;
     padding: 12px 5px;
     position: relative;
     border-bottom: solid #eee 1px;
}
 .main-menu ul>li .sub-down li a::before {
}
 .main-menu ul>li .sub-down li a:hover {
     color: #111111;
}
 .main-menu ul>li .sub-down li a:hover::before {
}
 .main-menu ul li:first-child {
     margin-left: 0;
}
 .main-menu ul>li>ul {
     opacity: 0;
     position: absolute;
     text-align: left;
     top: 100%;
     -webkit-transform: scaleY(0);
     transform: scaleY(0);
     -webkit-transform-origin: 0 0 0;
     transform-origin: 0 0 0;
     -webkit-transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
     visibility: hidden;
     width: 240px;
     z-index: 999;
     background: #fff;
     -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
     box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
 .main-menu>ul>li:hover>ul {
     -webkit-transform: scaleY(1);
     transform: scaleY(1);
     visibility: visible;
     opacity: 1;
}
 .main-menu ul>li>ul>li {
     margin: 0px;
     position: relative;
     display: block;
}
 .main-menu ul>li>ul>li:hover>ul {
     -webkit-transform: scaleY(1);
     transform: scaleY(1);
     visibility: visible;
     opacity: 1;
     left: 100%;
     top: 10px;
}
 .main-menu ul>li>ul>li>a {
     background: none !important;
}
 .mean-container .mean-nav {
     margin-top: 0px;
     position: absolute;
     top: 100%;
}
 .main-menu ul>li {
     position: inherit;
     display: inline-block;
     vertical-align: middle;
}
 .main-menu ul>li:nth-child (6) {
     padding-right: 0px;
}
 .nav>li {
     position: inherit;
     display: inline-block;
     vertical-align: middle;
}
 .megamenu .sub-down {
     max-width: 1140px;
     width: 100%;
     left: 0;
     margin: 0 auto;
     right: 0;
     padding: 15px 0px;
}
 .sub-full {
}
 .simple-down {
     padding: 15px;
}
 .megamenu-categories {
     padding: 10px 0px;
}
 .sub-full.megamenu-categories li {
     display: block;
}
 .megamenu .sub-full.megamenu-categories ol li a {
     padding: 5px 0px;
     font-size: 15px !important;
     font-weight: 500;
}
 .sub-full.megamenu-categories ol li .category-title {
     padding: 15px 0px;
     font-size: 16px;
     font-weight: 600;
     text-transform: uppercase;
}
 .sub-full.megamenu-categories ol li .category-box a {
     padding: 5px 0px;
}
 .menu-add {
     padding: 30px 15px;
}
 .menu-add img {
     width: 100%;
}
 .main-w img {
     width: 100%;
}
 .women-box {
     position: relative;
}
 .women-box::before {
     content: "";
     position: absolute;
     background: rgba(0, 0, 0, 0.3);
     width: 100%;
     height: 100%;
}
 .banner-up-text {
     position: absolute;
     bottom: 10px;
     left: 0px;
     right: 0px;
     text-align: center;
}
 .text-a {
     color: #fff;
     text-transform: uppercase;
     font-size: 40px;
     line-height: 40px;
     font-weight: 700;
}
 .text-b {
     color: #fff;
     font-size: 28px;
     text-transform: uppercase;
     line-height: 30px;
     padding: 20px 0px;
}
 .text-c {
     color: #ffffff;
     font-size: 31px;
     font-weight: 300;
     text-transform: uppercase;
     line-height: 30px;
     padding-bottom: 20px;
}
 .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
     background: #111111;
     color: #ffffff !important;
     display: inline-block;
     padding: 10px 16px;
     border-radius: 2px;
     overflow: hidden;
     font-size: 16px;
}
 .sticky-wrapper .sticky-wrapper-header {
     z-index: 20 !important;
     background: #ffffff;
}
 .is-sticky .sticky-wrapper-header .middle-area {
     padding: 10px 0px 
}
 .sticky-wrapper:not(.is-sticky) {
     height: auto !important;
}
 .hover-btn {
     display: inline-block;
     vertical-align: middle;
     -webkit-transform: perspective(1px) translateZ(0);
     transform: perspective(1px) translateZ(0);
     box-shadow: 0 0 1px rgba(0, 0, 0, 0);
     position: relative;
     background: #111111;
     -webkit-transition-property: color;
     transition-property: color;
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
}
 .hover-btn::before {
     content: "";
     position: absolute;
     z-index: -1;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background: #38c8a8;
     -webkit-transform: scaleX(0);
     transform: scaleX(0);
     -webkit-transform-origin: 50%;
     transform-origin: 50%;
     -webkit-transition-property: transform;
     transition-property: transform;
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
     -webkit-transition-timing-function: ease-out;
     transition-timing-function: ease-out;
     display: block !important;
}
 .hover-btn:hover::before, .hover-btn:focus::before, .hover-btn:active::before {
     -webkit-transform: scaleX(1);
     transform: scaleX(1);
}
 .hover-btn:hover, .hover-btn:focus, .hover-btn:active {
     color: white;
     box-shadow: none;
}
 .btn-secondary.focus, .btn-secondary:focus {
     box-shadow: none;
}
 .img-responsive {
     max-width: 100%;
}
 .padding_right_15_inner {
     padding-right: 15px;
}
 .padding_left_15_inner {
     padding-left: 15px;
}
 .dark_bg {
     background: #114c7d;
}
/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/
 .top-banner-slider {
     overflow: hidden;
     clear: both;
     height: 600px;
}
 .top-banner-slider .heroslider {
     margin: 0px;
     padding: 0px;
     border: none;
     position: relative;
     border-radius: 0;
}
 .swiper-overlay {
     height: 100%;
     position: relative;
}
 .swiper-overlay {
     background: rgba(0, 0, 0, 0.5);
     content: "";
     width: 100%;
     height: 100%;
     left: 0px;
     top: 0px;
}
 .heroslider .container {
     position: relative;
     height: 100%;
     padding-left: 0;
     padding-right: 0;
     z-index: 5;
}
 .swiper-container {
     width: 100%;
     height: 100%;
}
 .heroslider .slider-01 {
     width: 100%;
     background-image: url(../images/slider-01.jpg);
     background-size: cover;
     background-position: center;
}
 .heroslider .slider-02 {
     width: 100%;
     background-image: url(../images/slider-02.jpg);
     background-size: cover;
     background-position: center;
}
 .heroslider .slider-03 {
     width: 100%;
     background-image: url(../images/slider-03.jpg);
     background-size: cover;
     background-position: center;
}
 .heroslider .slides li {
     height: 600px;
}
 .top-banner-slider .heroslider .slides li::before {
     content: "";
     position: absolute;
     background: rgba(0, 0, 0, 0.4);
     height: 100%;
     width: 100%;
     left: 0px;
     top: 0px;
}
 .top-banner-slider .flex_caption3 {
     position: absolute;
     z-index: 30;
     left: 0;
     right: 0;
     bottom: 50px;
     margin: 0 -15px;
     display: flex;
}
 a.slide_banner {
     position: relative;
     display: inline-block;
     margin: 0 12px 0 15px;
}
 .slide1_banner1 {
     width: 570px;
}
 .slide1_banner2 {
     width: 270px;
}
 .slide1_banner3 {
     width: 270px;
}
 .top-banner-slider .flex_caption1 {
     text-align: center;
     position: absolute;
     z-index: 30;
     left: 0;
     right: 0;
     margin: 0 auto;
     top: 31%;
     max-width: 720px;
     width: 100%;
     text-transform: uppercase;
     color: #333;
}
 .top-banner-slider .flex_caption1 .title1 {
     font-size: 36px;
     font-weight: 300;
     color: #ffffff;
}
 .top-banner-slider .flex_caption1 .title2 {
     font-size: 60px;
     font-weight: 900;
     color: #ffffff;
}
 .top-banner-slider .flex_caption2 {
     text-align: center;
}
 .top-banner-slider .flex_caption2 {
     position: absolute;
     z-index: 30;
     left: 0;
     top: 20%;
     display: table;
     width: 177px;
     height: 177px;
     background-color: #242424;
}
 .top-banner-slider .flex_caption2 .middle {
     display: table-cell;
     vertical-align: middle;
     text-transform: uppercase;
     text-align: center;
     font-weight: 700;
     line-height: 31px;
     font-size: 26px;
     color: #fff;
     transition: all 0.1s ease-in-out;
     -webkit-transition: all 0.1s ease-in-out;
}
 .top-banner-slider .flex_caption2 .middle:hover {
     background: #38c8a8;
}
 .top-banner-slider .flex_caption2 span {
     display: block;
     font-weight: 100;
     line-height: 36px;
     font-size: 34px;
}
 a.slide_banner::before {
     content: '';
     position: absolute;
     left: 0;
     top: 0;
     right: 0;
     bottom: 0;
     opacity: 0;
     border: 2px solid #ffffff;
     transition: all 0.1s ease-in-out;
     -webkit-transition: all 0.1s ease-in-out;
}
 a.slide_banner:hover::before {
     left: -7px;
     top: -7px;
     right: -7px;
     bottom: -7px;
     opacity: 1;
}
 .flex-control-nav {
     background: #38c8a8;
     bottom: 0px;
     position: relative;
}
 .flex-control-nav li {
     line-height: 10px;
}
 .flex-control-paging li a {
     background: rgba(255, 255, 255, 1);
     border: 2px solid #ffffff;
}
 .flex-control-paging li a.flex-active {
     border: 2px solid #ffffff;
}
 .flex-direction-nav a {
     background: #111111;
     text-align: center;
}
 .heroslider:hover .flex-direction-nav .flex-prev:hover {
     background: #38c8a8;
}
 .heroslider:hover .flex-direction-nav .flex-next:hover {
     background: #38c8a8;
}
 .flex-direction-nav a::before {
     color: #ffffff;
}
 .top-banner-slider .swiper-pagination {
     padding: 10px 0px;
}
 .heroslider .swiper-pagination {
     bottom: 0px;
     background: #38c8a8;
}
 .heroslider .swiper-pagination .swiper-pagination-bullet-active {
     background: #fff;
}
 .heroslider .swiper-pagination::before {
     content: "";
     width: 22px;
     height: 22px;
     position: absolute;
     left: -10px;
     top: 4px;
     z-index: -1;
     background: #e12d4f;
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg);
}
 .heroslider .swiper-pagination::after {
     content: "";
     width: 22px;
     height: 22px;
     position: absolute;
     right: -10px;
     top: 4px;
     z-index: -1;
     background: #e12d4f;
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg);
}
 .heroslider .swiper-pagination.swiper-pagination-bullets-dynamic {
     overflow: visible;
     width: 110px !important;
}
 .heroslider .swiper-pagination .swiper-pagination-bullet {
     opacity: 1;
}
 input[type="checkbox"].styled:checked+label:after, input[type="radio"].styled:checked+label:after {
     font-family: 'FontAwesome';
     content: "\f00c";
}
 input[type="checkbox"] .styled:checked+label::before, input[type="radio"] .styled:checked+label::before {
     color: #fff;
}
 input[type="checkbox"] .styled:checked+label::after, input[type="radio"] .styled:checked+label::after {
     color: #fff;
}
/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/
 .header {
     background: #070100;
     padding: 23px 0px;
     border-top: #cf2323 solid 5px;
     border-bottom: #2409e3 solid 5px;
}
 .logo a {
     font-size: 40px;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     line-height: 40px;
}
 .search {
     position: relative;
}
 .search input.form-control {
     width: 100%;
     border-radius: 50px;
     border: none;
     font-size: 15px;
     padding: 7px 35px 7px 15px;
}
 .form-control {
     margin-top: 10px;
}
 .form-control:focus {
     box-shadow: inherit;
}
 .search button {
     position: absolute;
     top: 0;
     right: 0;
     height: 36px;
     width: 36px;
     text-align: center;
     z-index: 1;
     background: transparent;
}
 .relative {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     text-align: center;
     right: 0;
     left: 0;
}
 .Perfect {
     font-weight: normal;
     background: #f70606ab;
     padding: 0px 20px;
     font-size: 51px;
}
 .banner-main {
     position: relative;
}
 .banner-main .carousel-item img {
     width: 100%;
}
 .banner-main .text-bg h1 {
     color: #fff;
     font-size: 70px;
     line-height: 90px;
     font-weight: bold;
}
 .banner-main .text-bg p {
     font-size: 17px;
     padding: 0px 0px 40px 0px;
     color: #fff;
}
 .banner-main .text-bg a {
     border: #fff solid 1px;
     background: #fff;
     width: 209px;
     padding: 12px 0;
     display: inline-block;
     font-weight: 500;
     font-size: 17px;
     line-height: 30px;
     color: #d70a03;
}
 .banner-main .text-bg a:hover {
     border: #d70a03 solid 1px;
     background: #d70a03;
     color: #fff;
}
/** music-box **/
 .music-box {
     padding: 90px 0px;
     background: #fff;
}
 .music-box .for-box {
     padding: 0px 20px;
}
 .music-box .for-box i {
     text-align: center;
     display: block;
}
 .music-box .for-box h3 {
     padding-top: 28px;
     font-size: 20px;
     line-height: 25px;
     color: #030000;
     font-weight: bold;
     text-transform: uppercase;
}
 .music-box .for-box p{
     font-size:16px;
     line-height:22px;
     color:#030000;
}
/** music-box **/
 .img-box figure {
     margin: 0px;
}
 .padding {
     padding: 0px;
}
 .text-box {
     background: #ff1d00;
     width: 100%;
     height: 90%;
     margin: 32px 0px;
     box-sizing: border-box !important;
}
 .text-box .box {
     padding-top: 80px;
     margin-left: -80px;
}
 .text-box .box i {
     padding-bottom: 10px;
}
 .text-box .box i img {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: 250px;
}
 .text-box .box h3 {
     font-size:55px;
     line-height: 60px;
     color: #fff;
     text-transform: uppercase;
     padding: 12px 0px;
}
 .text-box .box p {
     color: #fff;
     font-size: 17px;
     line-height: 22px;
}
 .text-box .box a {
     max-width: 167px;
     background: #fff;
     color: #ff1d00;
     width: 100%;
     padding: 12px 0px;
     display: inline-block;
     text-align: center;
     margin-top: 30px;
}
 .text-box .box a:hover {
     background: #000;
     color: #ff1d00;
}
/** Lastestnews **/
 .Lastestnews {
     padding:90px 0px;
     background: #fff;
}
 .Lastestnews .titlepage {
     text-align: center;
     margin-bottom: 60px;
}
 .Lastestnews .titlepage h2 {
     font-size: 60px;
     line-height: 62px;
     color:#030000;
     font-weight: 500;
     text-transform: uppercase;
}
 .Lastestnews .titlepage span {
     color: #060606;
     font-size: 17px;
     line-height: 23px;
}
 .Lastestnews .news-box {
     background:#fff;
     box-shadow: #ddd 0px 0px 8px 4px;
}
 .Lastestnews .news-box figure {
     margin: 0;
}
 .Lastestnews .news-box figure img {
     width: 100%;
}
 .Lastestnews .news-box h3 {
     font-size: 22px;
     line-height: 24px;
     color: #060606;
     font-weight: 500;
     padding: 20px 20px 4px 20px;
}
 .Lastestnews .news-box span {
     color: #e61414;
     margin-left: 20px;
}
 .Lastestnews .news-box p{
     color: #7b7a7a;
     font-size:16px;
     line-height: 23px;
     padding: 7px 20px 20px 20px;
}
/** Lastestnews **/
 .Albums {
     margin-bottom: 90px;
     background: #fff;
}
 .Albums .titlepage {
     text-align: center;
     margin-bottom: 60px;
}
 .Albums .titlepage h2 {
     font-size: 60px;
     line-height: 62px;
     color:#030000;
     font-weight: 500;
     text-transform: uppercase;
}
 .Albums .titlepage span {
     color: #060606;
     font-size: 17px;
     line-height: 23px;
}
 .margin {
    margin-bottom: 30px;
}
 .Albums .Albums-box figure {
     margin: 0px;
}
 .Albums .Albums-box figure img {
     width: 100%;
}
 .green {
     background-color: #6fb936;
}
 .Albums .Albums-box .hoverle {
     display: none;
}
 .Albums .Albums-box .hoverle a {
     padding: 5px 30px;
     color: #0f69c6;
}
 .Albums .Albums-box:hover .hoverle {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     text-align: center;
     display: flex;
     justify-content: center;
     background: #f71717b3;
     align-items: center;
     margin: 0 15px;
}
 .Albums .Albums-box:hover .hoverle a {
     background: transparent;
     padding: 5px 30px;
     color: #fff;
}
 #demo {
     height: 100%;
     position: relative;
     overflow: hidden;
}
 .thumb {
     margin-bottom: 30px;
}
 .green {
     background-color: #6fb936;
}
 .page-top {
     margin-top: 85px;
}
 img.zoom {
     width: 100%;
     object-fit: cover;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
}
 .transition {
     -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
     -o-transform: scale(1.2);
     transform: scale(1.2);
}
 .modal-header {
     border-bottom: none;
}
 .modal-title {
     color: #000;
}
 .modal-footer {
     display: none;
}
 .Newsletter {
     background: #ff1d00;
     padding: 35px 0px;
}
 .Newsletter h2 {
     color: #fff;
     font-size: 26px;
     line-height: 26px;
     font-weight: 500;
     padding-bottom: 15px;
}
 .email {
     padding: 14px 10px;
     width: 100%;
     border: #ddd solid 1px;
    ;
}
 .submit-btn {
     width: 100%;
     padding: 10px 0px;
     font-size: 20px;
     background: #000;
     color: #fff;
}
 .submit-btn:hover {
     background: #fff;
     color: #000;
}
 .padding-right {
     padding-right: 0px;
}
 .padding-left {
     padding-left: 0px;
}
 .contact {
     background: #0f69c6;
     padding: 60px 0px;
}
 .contact .titlepage {
     text-align: center;
}
 .contact .titlepage h3 {
     padding: 0px 0px 6px 0px;
     font-weight: bold;
     color: #fff;
     line-height: 46px;
     border-bottom: #fff solid 1px;
     font-size: 40px;
     width: 229px;
     margin: 0 auto;
     margin-bottom: 60px;
}
 .contact .contact {
     background: #fff;
     width: 100%;
     height: 100%;
     padding: 30px;
}
 .contactus {
     border: #b1b0b0 solid 1px;
     padding: 12px 19px;
     margin-bottom: 20px;
     border-radius: 10px;
     color: #000;
     width: 100%;
}
 .textarea {
     margin-bottom: 25px;
     padding: 12px 19px;
     color: #000 !important;
     width: 100%;
     border: #b1b0b0 solid 1px;
     border-radius: 10px;
}
 .send {
     font-size: 16px;
     border: #fff solid 1px;
     padding: 10px 50px;
     background-color: #fff;
     align-items: center;
     flex-wrap: wrap;
     border-radius: 10px;
     color: #f70e0e;
}
 .send:hover {
     background-color: #f70e0e;
     border: #f70e0e solid 1px;
     color: #fff;
}
 .address figure {
     margin: 0px;
     margin-bottom: 25px;
}
 .footer {
     background: #0b0808;
     padding-top: 90px;
}
 .footer .address h3 {
     color: #fff;
     font-size: 25px;
     line-height: 35px;
     font-weight: 500;
     padding-bottom: 20px;
}
 .footer .address i {
     color: #fff;
     font-size: 15px;
     font-weight: 500;
}
 .footer .address i img {
     padding-right: 10px;
}
 ul.locarion_icon {
     padding-bottom: 15px;
}
 ul.locarion_icon li {
     padding-bottom: 15px;
     color: #fff;
     font-size: 16px;
}
 ul.locarion_icon li img {
     padding-right: 15px;
}
 ul.contant_icon {
     list-style: none;
     margin: 0;
     padding: 0;
     width: 100%;
     float: left;
}
 ul.contant_icon li {
     float: left;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     padding-right: 12px;
}
 ul.contant_icon li img {
     width: 32px;
     height: 32px;
}
 .copyright {
     background-color: #fff;
     padding: 20px 0px;
     margin-top: 90px;
}
 .copyright p {
     color: #023023;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
}
 .copyright a:hover {
     color: #f70e0e 
}
/*--------------------------------------------------------------------- ener page css ---------------------------------------------------------------------*/
 .about-page .footer {
     margin-top: 90px;
}
 .aboutbg {
     background-color: #ff1d00;
}
 .contact-page .send {
    background: #000;
     border: #000 solid 1px;
     color: #fff;
     margin: 0 auto;
     display: block;
}
 .contact-page .send:hover {
    background: #f70e0e;
     border: #f70e0e solid 1px;
}
 .contact-page .copyright {
    background: #000;
}
 .contact-page .copyright p {
    color: #fff;
}
 .contact-page .copyright p a{
    color: #fff;
}
 .contact-page .copyright p a:hover {
    color: #f70e0e;
}
 .aboutbg .abouttitlepage h2 {
     color: #fff;
     text-transform: uppercase;
     font-size: 40px;
     line-height: 45px;
     padding: 40px 0;
     font-weight: 500;
     text-align: center;
}
 .contactbg {
     background-color: #ff1d00;
     margin-bottom: 90px;
}
 .contactbg .contacttitlepage h2 {
     color: #fff;
     text-transform: uppercase;
     font-size: 40px;
     line-height: 45px;
     padding: 40px 0;
     font-weight: 500;
     text-align: center;
}
 .blogbg {
     background-color: #ff1d00;
}
 .blogbg .blogtitlepage h2 {
     color: #fff;
     text-transform: uppercase;
     font-size: 40px;
     line-height: 45px;
     padding: 40px 0;
     font-weight: 500;
     text-align: center;
}
 .Albumsbg {
     background-color: #ff1d00;
     margin-bottom: 60px;
}
 .Albumsbg .Albumstitlepage h2 {
     color: #fff;
     text-transform: uppercase;
     font-size: 40px;
     line-height: 45px;
     padding: 40px 0;
     font-weight: 500;
     text-align: center;
}
 .Request-bg {
     background-color: #ad2100;
}
 .Request-bg .abouttitle h2 {
     color: #fff;
     text-transform: uppercase;
     font-size: 40px;
     line-height: 45px;
     padding: 40px 0;
     font-weight: 500;
     text-align: center;
}
 .Team-bg {
     background-color: #ad2100;
}
 .Team-bg .abouttitle h2 {
     color: #fff;
     text-transform: uppercase;
     font-size: 40px;
     line-height: 45px;
     padding: 40px 0;
     font-weight: 500;
     text-align: center;
}
 